<h1>Listing Tasks</h1>
<%= link_to 'All Tasks', tasks_path %>
&nbsp;&nbsp;&nbsp;
<%= link_to 'New Task', new_task_path %>
</p>
<table>
  <tr>
    <th>Name</th>
    <th>Task Type</th>
  </tr>

  <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.task_type %></td>
      </tr>
  <% end %>
</table>